* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 16px;
}

  
  /* montserrat-500 - latin */
  @font-face {
    font-display: swap; 
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/montserrat-v26-latin-500.woff2') format('woff2'); 
  }


/*Utilidades*/
.u-flexRow{
    display: flex;
    flex-direction: row;
}
.u-flexColumn{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.u-spaceBetween{
    justify-content: space-between;
}
.u-ulNav{
    color: black;
    gap: 8px;
    font-size: 0.9rem;
    text-decoration: none;
    list-style-type: none;
}
.u-navA {
    text-decoration: none;
    color: black;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 0.6rem;
}



p {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 1rem;
}
.Header{
    padding: 30px;
}
.Header-logo{
    width: 3rem;
}
.Header-a--selected{
    text-decoration: underline;
}

.Main{
    padding: 30px;
}
.Parrafo{
    width: 70%;
    padding-bottom: 40px;
    text-align: start;
}

.Gallery{
    width: 100%;
    display: grid;
    gap: 0.8rem;
    grid-template-columns: repeat(4, 1fr);
}
.Gallery-img{
    width: 100%;
    height: 100%;
    aspect-ratio: auto;
}

.Gallery-text{
    padding-top: 30px;
}
.Footer{
    padding: 30px;
}
.Enlace{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 10px;
}
.Linea{
    padding-bottom: 10px ;
}
hr{
    height: 0.8px;
  background-color: black;
  width: 98%;
  text-align: center;
}
.Icono{
    width: 10px;
}
.Icono--rotate{
    transform: rotate(315deg);
}